[submodule "irc-server"]
	path = irc-server
	url = git@github.com:azmovi/irc-server
[submodule "tcp-implementation"]
	path = tcp-implementation
	url = git@github.com:azmovi/tcp-implementation
[submodule "ip-implementation"]
	path = ip-implementation
	url = git@github.com:azmovi/ip-implementation
[submodule "link-implementation"]
	path = link-implementation
	url = git@github.com:azmovi/link-implementation
